/* Модальная структура документа */
/*общие настройки для всего документа*/
html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: rgba(229,229,229,0.42);
}

.display-none {
    display: none;
}
.wrapper{
    padding: 15px 10px;
}

.panel{
    /*border: 1px solid black;*/
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.btn{
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;

    background: #fff;
    border: 1px solid #d1cfd7;
    cursor: pointer;
    padding: 11px 24px;
    border-radius: 4px;
}

.btn:hover {
    background: #e4e4e4;
}

table{
    border-collapse: collapse;
}

th, td:first-child {
    /*border: 1px solid #727272;*/
    border-right: 1px solid gray;
    /*border-bottom: 1px solid gray;*/
}

th, td{
    padding: 5px;
}

th{
    white-space: nowrap;
    width: 1%;
}

.text-center{
    text-align: center;
}

.text-start{
    text-align: left;
}

.text-brake-all{
    word-break: break-all;
}